<%- include('./layouts/header') %>
<style>
    .ind{
        border: 2px solid #243e36;
        border-radius: 10px;
        margin: 10px;
        width: 0% 40px;;
        text-align: center;
        color:#f1f7ed;
        background-color: #7ca982;
    }
</style>
<div class="ind">
    <h1 >Authentication with RBAC</h1>
    <h2>Created By Narendra SJ</h2>
    <br><br>
    <h3>What it Provides ?</h3>
    <ul>
        <li>Authentications with different Roles</li>
        <li><b>Roles</b> (admin, moderator, client)</li>
    </ul>
</div>

<%- include('./layouts/footer') %>
